<div class="container-fluid">
  <div class="well">
    <ul>
      <li *ngFor="let listing of lisitings">{{lisiting.title}}</li>
      <!-- <li>7 I'm a Guy Walking at mount tabor this morning (Ne)</li>
      <li>Visiting on business, show me the city (Tualatin/portland)</li>
      <li>BASEBALL (Vancouver)</li>
      <li>BABY BOOMERS/Dances!!! (PDX /VANC)</li>
      <li>BICYCLE PARTNERS NEEDED (HILSBORO)</li>
      <li>Have you looked at the weather?</li>
      <li>PADDLERS WANTED FOR FUN DRAGON BOAT TEAM - NO EXPERIENCE REQUIRED (Waterfront)</li> -->
    </ul>
  </div>
</div>
