<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-4 col-lg-3" id="left-col">
      <div class="well">
        <h1>Craigslist</h1>
        <p>post to classifieds</p>
        <p>my account</p>
      </div>
    </div>
    <div class="col-sm-7 col-md-6 col-lg-7" id="mid-col">
      <div class="well">
        <div id="center" class="community">
          <div id="ccc">
            <h4 class="ban"><span class="txt">community</span></h4>
            <ul>
              <li><a routerLink="activities"><span class="txt">activities</span></a></li>
              <li><span class="txt">artists</span></li>
              <li><span class="txt">childcare</span></li>
              <li><span class="txt">classes</span></li>
              <li><span class="txt">events</span></li>
              <li><span class="txt">general</span></li>
              <li><span class="txt">groups</span></li>
              <li><span class="txt">local&nbsp;news</span></li>
            </ul>
            <ul>
              <li><span class="txt">lost+found</span></li>
              <li><span class="txt">missed connections</span></li>
              <li><span class="txt">musicians</span></li>
              <li><span class="txt">pets</span></li>
              <li><span class="txt">politics</span></li>
              <li><span class="txt">rants &amp; raves</span></li>
              <li><span class="txt">rideshare</span></li>
              <li><span class="txt">volunteers</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" id="right-col">
      <div class="well">
        <h1>nearby cl</h1>
      </div>
    </div>
  </div>
</div>
